@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-light-webfont.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-lightitalic-webfont.woff") format("woff"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-regular-webfont.woff") format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-regularitalic-webfont.woff") format("woff"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-medium-webfont.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-mediumitalic-webfont.woff") format("woff"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-bold-webfont.woff") format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Office Code Pro'; src: url("fonts/officecodepro-bolditalic-webfont.woff") format("woff"); font-weight: 700; font-style: italic; }

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

canvas { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; background-color: #000000; }

/** Basic styling */
body { font: 400 18px/1.5 "Office Code Pro", Monospace, sans-serif; color: #27221F; background-color: #EDEDE7; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; max-height: 300px; border-radius: 8px; vertical-align: middle; display: block; margin-left: auto; margin-right: auto; border: 1px solid black; }

p { text-align: justify; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 15.75px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 500; }

/** Links */
a { color: #006B88; text-decoration: underline; font-weight: 400; }

a:visited { color: #551A8B; }

a:hover { color: #27221F; text-decoration: none; }

.social-media-list a:hover { text-decoration: none; }

.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #27221F; padding-left: 15px; font-size: 17.28px; letter-spacing: -1px; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 16.875px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.footer-col-wrapper:after, .wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #5a4f48; border-collapse: collapse; border: 1px solid #e8e8e8; }

table tr:nth-child(even) { background-color: #f7f7f7; }

table th, table td { padding: 10px 15px; }

table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }

table td { border: 1px solid #e8e8e8; }

@media (prefers-color-scheme: dark) { a { color: #00D9F5; } a:visited { color: #a869e3; } a:hover { color: #ddd8d4; } body { color: #ddd8d4; background-color: #1F1F1F; } blockquote { color: #27221F; } }

/** Site header */
.site-header { padding-top: 30px; position: relative; /* Set a specific height */ /* Position and center the image to scale nicely on all screens */ background-position: top; background-repeat: no-repeat; background-size: cover; position: relative; }

.site-title { font-size: 29.25px; font-weight: 400; line-height: 60.75px; letter-spacing: 0px; margin-top: 30px; float: none; text-align: center; text-decoration: none; color: #27221F; }

.site-title:visited { color: #27221F; }

.site-nav { float: right; line-height: 60.75px; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { line-height: 1.5; font-weight: 400; color: #27221F; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #292929; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #424242; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.footer-link { color: #27221F; font-weight: 400; }

.site-footer { padding: 20px 15% 0% 15%; margin: 40px; }

.footer-heading { margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { color: #828282; margin-left: -15px; text-align: center; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } .site-footer { padding: 20px 20px 0 20px; } }

/** Page content */
.track-embeds { display: flex; justify-content: space-evenly; flex-direction: row; max-width: 100%; }

.track-embeds > iframe { min-width: 230px; }

@media (max-width: 750px) { .track-embeds { flex-direction: column; } .track-embeds > iframe { width: 100%; height: 90px; } }

.home-text { padding-top: 90px; padding-bottom: 30px; }

.page-content { padding: 30px 0; flex: 1; }

.main-div { background-color: #551A8B; max-width: 3000px; margin: 2rem 2rem; padding: 4rem 2rem; border-radius: 3px; display: flex; flex-direction: column; flex: 1; }

.page-heading { font-size: 36px; }

.post-list-heading { font-size: 31.5px; }

/** Posts */
.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; padding: 30px; border: 1px solid #000; background-color: #292929; color: #e8e8e8; border-radius: 10px; }

.post-meta { font-size: 15.75px; color: #828282; }

.post-link { display: block; }

.post-link-title { font-size: 21.6px; color: #27221F; }

.post-link-subtitle { font-size: 18px; font-style: oblique; }

.post-excerpt { font-size: 3.6px; color: #828282; }

.post-header { margin-bottom: 30px; }

.post-title { font-size: 47.25px; letter-spacing: -1px; line-height: 1; }

@media screen and (max-width: 800px) { .post-title { font-size: 40.5px; } }

.post-subtitle { font-size: 22.5px; font-style: oblique; }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 36px; }

@media screen and (max-width: 800px) { .post-content h2 { font-size: 31.5px; } }

.post-content h3 { font-size: 29.25px; }

@media screen and (max-width: 800px) { .post-content h3 { font-size: 24.75px; } }

.post-content h4 { font-size: 22.5px; }

@media screen and (max-width: 800px) { .post-content h4 { font-size: 20.25px; } }

@media (prefers-color-scheme: dark) { .main-div { background-color: #282832; border-width: .2rem; border-style: ridge groove groove ridge; border-color: #ceccd9; box-shadow: 0 0 0.3rem 0.05rem white, 0 0 1rem 0.1rem #FCF9D9; /* --s: 4px; --g: repeating-conic-gradient(#774F38 0 25%,#ECE5CE 0 50%) 0/; background: var(--g) calc(1*var(--s)) calc(7*var(--s)), var(--g) calc(2*var(--s)) calc(5*var(--s)), var(--g) calc(3*var(--s)) calc(3*var(--s)), var(--g) calc(5*var(--s)) calc(2*var(--s)), var(--g) calc(7*var(--s)) calc(1*var(--s)); background-blend-mode: darken; */ --s: 6rem; --t: 5.5rem; --g: repeating-conic-gradient(
      #282832 0 25%,
      #2E3141 0 50%
      ); background: var(--g), var(--g), var(--g), var(--g), var(--g); background-size: calc(1*var(--s)) calc(7*var(--s)), calc(2*var(--s)) calc(5*var(--s)), calc(3*var(--s)) calc(3*var(--t)), calc(5*var(--t)) calc(2*var(--s)), calc(7*var(--t)) calc(1*var(--s)); background-blend-mode: darken; animation: drift 100s linear infinite; animation-direction: alternate-reverse; } @keyframes drift { from { background-position: 0 0, 0 0, 0 0, 0 0, 0 0; }
    to { background-position: 50px 100px, -80px 60px, 120px -40px, -60px -120px, 90px 30px; } } .site-title { color: #FFFDEB; } .site-title:visited { color: #FFFDEB; } .page-link { color: #FFFDEB; } .page-link:visited { color: #FFFDEB; } .post-link-title { color: #FFFDEB; } .post-link-title:visited { color: #FFFDEB; } .post-link { color: #ddd8d4; } .post-link:visited { color: #ddd8d4; } .footer-link { color: #FFFDEB; } }

@keyframes flicker { 0% { opacity: 0.135; }
  5% { opacity: 0.17; }
  10% { opacity: 0.115; }
  15% { opacity: 0.45; }
  20% { opacity: 0.09; }
  25% { opacity: 0.415; }
  30% { opacity: 0.325; }
  35% { opacity: 0.335; }
  40% { opacity: 0.13; }
  45% { opacity: 0.42; }
  50% { opacity: 0.48; }
  55% { opacity: 0.04; }
  60% { opacity: 0.1; }
  65% { opacity: 0.355; }
  70% { opacity: 0.265; }
  75% { opacity: 0.185; }
  80% { opacity: 0.355; }
  85% { opacity: 0.35; }
  90% { opacity: 0.35; }
  95% { opacity: 0.18; }
  100% { opacity: 0.12; } }

@keyframes textShadow { 0% { text-shadow: 0.21px 0 1px rgba(0, 30, 255, 0.5), -0.21px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  5% { text-shadow: 1.4px 0 1px rgba(0, 30, 255, 0.5), -1.3px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  10% { text-shadow: 0.01px 0 1px rgba(0, 30, 255, 0.5), -0.01px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  15% { text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5), -0.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  20% { text-shadow: 1.74px 0 1px rgba(0, 30, 255, 0.5), -1.74px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  25% { text-shadow: 0.71px 0 1px rgba(0, 30, 255, 0.5), -0.71px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  30% { text-shadow: 0.3px 0 1px rgba(0, 30, 255, 0.5), -0.3px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  35% { text-shadow: 2.39px 0 1px rgba(0, 30, 255, 0.5), -2.39px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  40% { text-shadow: 1.27px 0 1px rgba(0, 30, 255, 0.5), -1.27px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  45% { text-shadow: 1.23px 0 1px rgba(0, 30, 255, 0.5), -1.23px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  50% { text-shadow: 0.08px 0 1px rgba(0, 30, 255, 0.5), -0.08px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  55% { text-shadow: 1.37px 0 1px rgba(0, 30, 255, 0.5), -1.37px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  60% { text-shadow: 1.2px 0 1px rgba(0, 30, 255, 0.5), -1.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  65% { text-shadow: 1.86px 0 1px rgba(0, 30, 255, 0.5), -1.86px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  70% { text-shadow: 0.48px 0 1px rgba(0, 30, 255, 0.5), -0.48px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  75% { text-shadow: 0.89px 0 1px rgba(0, 30, 255, 0.5), -0.89px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  80% { text-shadow: 0.08px 0 1px rgba(0, 30, 255, 0.5), -0.08px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  85% { text-shadow: 0.09px 0 1px rgba(0, 30, 255, 0.5), -0.09px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  90% { text-shadow: 1.44px 0 1px rgba(0, 30, 255, 0.5), -1.44px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  95% { text-shadow: 1.18px 0 1px rgba(0, 30, 255, 0.5), -1.18px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  100% { text-shadow: 1.62px 0 1px rgba(0, 30, 255, 0.5), -1.62px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; } }

@keyframes crt-lines { from { background-position: 0 0; }
  to { background-position: 0rem 0.28rem; } }

.crt { isolation: isolate; }

.crt::after { content: " "; display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(18, 16, 16, 0.04); opacity: 0; z-index: 2; pointer-events: none; animation: flicker 1.15s infinite; }

.crt::before { content: " "; display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: linear-gradient(rgba(18, 16, 16, 0.05) 75%, rgba(0, 0, 0, 0.15) 83%), linear-gradient(90deg, rgba(255, 0, 0, 0.09), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.09)); z-index: 2; background-size: 100% .28rem, .19rem 100%; pointer-events: none; animation: crt-lines .9s linear infinite; }

a, .color-glitch { animation: textShadow 1.6s infinite; }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

/*# sourceMappingURL=main.css.map */